body {
    font-family: Inter, sans-serif;
}

header {
    border-bottom: 1px solid var(--Light-Gray-Blue, #DAE5EF);
    background: rgba(246, 246, 246, 0.75);
    backdrop-filter: blur(5px);
}

header .wrapper {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

nav a {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--Light-Gray-Blue, #DAE5EF);
    text-decoration: none;
    color: #3E4347;
    transition: .25s ease-in-out;
}

nav a:hover {
    background-color: #DAE5EF;
    transition: .25s ease-in-out;
}

nav a.active {
    background-color: #FFEA92;
}

header .logo {
    opacity: 1;
    transition: .25s ease-in-out;
    display: flex;
    width: min-content;
}

.logo:hover {
    opacity: .75;
    transition: .25s ease-in-out;
}

main section .wrapper {
    flex-direction: row;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}